body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #857c8d;
}
.centered {
  position: fixed;
  top: 33%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
